/**
参考資料
Making a Sphere in CSS
https://cssnewbie.com/making-a-sphere-in-css/#.XUrSyej7R3g
*/


.container {
    display: flex;
    justify-content: center;
}

.bingo {
    background:rgb(180,160,100);
    padding: 10px;
    z-index: 1;
}

th {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(top, rgb(246,220,84) 0%, rgb(167,106,52) 60%, rgb(67,16,0) 61%, rgb(177,100,46) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3.5em;
    height: 50px;
}
th::after {
    background: none;
    content: attr(data-label);
    position: relative;
    display: block;
    top:-1.5em;
    text-shadow: -1px -1px 2px rgb(255,255,203),1px -1px 1px rgb(243,222,107),1px -1px 1px rgb(174,118,59),1px 1px 1px rgb(83,39,0);
    z-index: -1;
    height: 0px;
}

input[type=checkbox]{
    display: none;
}

.panel {
    width: 80px;
    height: 80px;
    font-size:80px;
    text-align: center;
    background:white;
    padding:5px;
}

.panel > div {
    background-color: white;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(180,255,255,.8);
    padding-left: 3px;
    padding-right: 3px;
}
.panel > div  div {
    border: solid 1px rgb(100,100,100);
    border-bottom: none;
    border-radius: 50% 50% 0px 0px;
}

.touchable{
    height: 80px;
}

.number {
    user-select: none;
    font-family: 'Passion One', cursive;
    font-size: 80%;
    position: relative;
    bottom: 25%;
}

.free {
    padding:7px;
    font-size: 40%;
    font-style: italic;
    color: yellow;
    background:red;
    border-radius: 50% 50%;
    position: relative;
    bottom: 45%;
}

input[type=checkbox]:checked + .touchable {
    background: rgb(100,100,100);
}
input[type=checkbox]:checked + .touchable .number {
    visibility: hidden;
}